# Ignore node_modules since we install them inside the container
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment files
.env

# Ignore logs
*.log

# Ignore any compiled output or temporary files
dist
build
.tmp

# Ignore Dockerfile and docker-compose files if they aren't needed inside the container
Dockerfile
docker-compose*

# Ignore IDE files
.vscode/
.idea/

# Ignore git files
.git
.gitignore

# Ignore DB and certificates as these are generated during setup
certs/
db/