/* +++ Colors +++ */
:root {
    --color_background: white;
    --color_header: white;
    --color_table: white;
    --color_shadow: rgb(222, 222, 222);
    --shadow: 0 0 15px 5px var(--color_shadow);
    --color_text: black;
    --color_button_text: white;
    --color_red: rgb(239, 68, 68);
    --color_light_red: rgb(255, 206, 206);
    --color_orange: rgb(249, 115, 22);
    --color_light_orange: rgb(255, 228, 194);
    --color_gray: rgb(107, 114, 128);
    --color_midle_gray: rgb(128, 128, 128);
    --color_light_gray: rgb(239, 239, 239);
    --color_blue: rgb(68, 145, 239);
}

/* Darkmode */
html {
    color-scheme: dark light;
}

@media (prefers-color-scheme: dark){
    :root {
        --color_background: rgb(33, 33, 33);
        --color_header: rgb(23, 23, 23);
        --color_table: rgb(13, 13, 13);
        --color_shadow: rgb(23, 23, 23);
        --shadow: none;
        --color_text: rgb(236, 236, 236);
        --color_button_text: rgb(236, 236, 236);
        --color_red: rgb(207, 41, 41);
        --color_light_red: rgb(207, 41, 41);
        --color_orange: rgb(227, 115, 35);
        --color_light_orange: rgb(227, 115, 35);
        --color_gray: rgb(47, 47, 47);
        --color_midle_gray: rgb(33, 33, 33);
        --color_light_gray: rgb(47, 47, 47);
        --color_blue: rgb(47, 115, 199);
    }
}

/* +++ General +++ */

body {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--color_text);
    font-size: 16px;
    margin: 0;
    background-color: var(--color_background);
}

a {
    color: var(--color_text);
    text-decoration: none;
}

/* Button design */
button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    font-size: 16px;
}

/* +++ Header +++ */

header {
    height: 60px;
    box-shadow: var(--shadow);
    background-color: var(--color_header);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px 5px 25px;
}

.logo img {
    height: 35px;
    width: auto;
    padding: 10px;
}

.nav-container {
    position: absolute;
    width: auto;
    top: 70px;
    right: 20px;
    min-width: 200px;
    z-index: 20;
    border-radius: 10px;
    overflow: hidden;
}

#nav-links {
    display: none;
    background-color: var(--color_header);
    border: 1px solid var(--color_shadow);
    border-radius: 10px;
    padding: 5px;
}

.nav-container a {
    padding: 15px;
    display: block;
    border-radius: 5px;
}

.menu-button {
    color: var(--color_text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--color_header);
    padding-bottom: 10px;
}

.menu-button svg {
    min-width: 30px;
    min-height: 30px;
}

.nav-container a:hover {
    background-color: var(--color_shadow);
}

/* +++ Filter buttons +++ */

.filter-buttons {
    display: flex;
    margin: 20px 30px 0 30px;
}

.filter-buttons button {
    padding: 10px 15px;
    margin: 0 5px; /* Space between buttons */
    cursor: pointer;
    color: var(--color_button_text);
}

#filter-alarms {
    background-color: var(--color_red);
}

#filter-warnings {
    background-color: var(--color_orange);
}

#filter-events {
    background-color: var(--color_gray);
}

.filter-buttons button:hover {
    filter: brightness(0.8);
}

.filter-buttons button:focus {
    outline: none;
}

.filter-buttons button.active {
    filter: brightness(0.4);
}

/* +++ Table +++ */

.table-container {
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--color_table);
    margin: 10px 25px;
    max-height: calc(100vh - 170px);
    overflow: hidden;
    padding: 5px;
}

/* This wrapper will handle scrolling */
.table-wrapper {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}

/* Table Design */
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid var(--color_table);
}

th, td {
    padding: 7px 10px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--color_table);
    z-index: 10;
    height: 30px;
}

/* Color classes for different alarm types */
.alarm-class-1 {
    background-color: var(--color_light_red);
}
.alarm-class-2 {
    background-color: var(--color_light_orange);
}
.alarm-class-3 {
    background-color: var(--color_light_gray);
}
.alarm-class-default {
    background-color: var(--color_table);
}

/* Darken alarm when hovering over it */
tbody tr:hover {
    filter: brightness(0.8);
}

/* Darken alarm when clicked over it */
.selected {
    filter: brightness(0.8);
}

/* Style for the SVG icon inside the delete button */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: var(--color_button_text);
}

.del-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--color_midle_gray);
}

.ack-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--color_blue);
}
